@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.explore {
    margin: 62px 0 78px;

    @include abstracts.screen(lg) {
        margin: 42px 58px;
    }
}

.explore-container {
    &__list {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 28px;

        @include abstracts.screen(lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include abstracts.screen(sm) {
            grid-template-columns: 1fr;
        }
    }
}

.explore-container + .explore-container {
    margin-top: 72px;
}

.explore-item {
    background: var(--thirst-bg-color);
    border-radius: 16px;
    overflow: hidden;

    &__thumb {
        width: 100%;
        height: 177px;
        object-fit: cover;
    }

    &__content {
        padding: 16px 20px;
    }

    &__title {
        font-size: 1.8rem !important;
    }

    &__desc {
        font-size: 1.6rem !important;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
