@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.explore {
    margin: 62px 0 78px;

    @include abstracts.screen(lg) {
        margin: 42px 0 58px;
    }
}

.explore-container {
    &__list {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 28px;

        @include abstracts.screen(lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include abstracts.screen(sm) {
            grid-template-columns: 1fr;
        }
    }
}

.explore-container + .explore-container {
    margin-top: 72px;
}

.explore-item {
    background: var(--thirst-bg-color);
    border-radius: 16px;
    overflow: hidden;

    &__thumb {
        width: 100%;
        height: 177px;
        object-fit: cover;
    }

    &__content {
        padding: 16px 20px;
    }

    &__title {
        font-size: 1.8rem !important;
    }

    &__desc {
        font-size: 1.6rem !important;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.explore-container + .explore-container {
    margin-top: 56px;
}

.explore-content {
    display: flex;
    justify-content: space-between;

    @include abstracts.screen(lg) {
        flex-direction: column-reverse;
        gap: 26px;
    }

    &__desc {
        width: 50%;

        @include abstracts.screen(lg) {
            width: 100%;
        }
    }

    &__img {
        width: 30%;
        border-radius: 10px;

        @include abstracts.screen(lg) {
            width: 100%;
        }
    }
}

.explore-wrap {
    &__title {
        font-size: 2rem !important;
    }

    &__list {
        margin-top: 26px;
    }

    &__item {
        @extend %flexItemCenter;
        gap: 10px;
    }

    &__item + &__item {
        margin-top: 12px;

        @include abstracts.screen(lg) {
            margin-top: 22px;
        }
    }
}

.explore-exercise {
    &__content {
        @extend %flexItemCenter;
        justify-content: space-between;
        padding: 14px 30px 14px 48px;
        background: var(--thirst-bg-color);
        border-radius: 12px 12px 0 0;

        @include abstracts.screen(lg) {
            padding: 14px 28px;
        }
    }

    &__box {
        @extend %flexItemCenter;
        gap: 12px;
    }

    &__icon {
        width: 22px;

        @include abstracts.screen(md) {
            width: 16px;
        }
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.4;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }

    &__desc {
        font-size: 1.4rem;
        line-height: 1.4;
    }

    &__item {
        padding: 14px 30px;
        @extend %flexItemCenter;
        justify-content: space-between;

        &:hover {
            background: #49484875;
        }
    }

    &__link {
        width: 100%;
        font-size: 1.4rem;
        line-height: 1.5;
    }

    &__check {
        width: 22px;
    }

    &__un-check {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 2px solid #0ca678;
    }
}

.explore-exercise + .explore-exercise {
    margin-top: 32px;
}
