@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.header {
    position: sticky;
    top: 0;
    z-index: 4;
    padding: 12px 20px;
    background: var(--primary-bg-color);
    background-image: url(../../assets/img/bg.png);
    background-size: cover;
    opacity: 0.9;
}

.header-container {
    @extend %flexItemCenter;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    @extend %flexItemCenter;
    flex-direction: column;
    gap: 5px;

    &__img {
        width: 84px;
    }

    &__text {
        font-size: 2.2rem;
        font-weight: 600;
        color: var(--text-white-color);

        @include abstracts.screen(sm) {
            font-size: 1.7rem;
        }
    }
}

.navbar {
    @extend %flexItemCenter;
    gap: 10px;

    &__list {
        @extend %flexItemCenter;
    }

    &__item {
        padding: 13px 11px;

        &:hover {
            border: 1px solid var(--border-color);
        }

        &:hover:first-child {
            border-color: #ffd700;
        }
    }

    &__item:hover:first-child &__link {
        color: #ffd700;
    }

    &__link {
        color: var(--text-white-color);
        line-height: 1.4;
    }
}

.navbar-mobile {
    &__wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    &__text {
        color: var(--Text-Color-White);
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.48;
    }
}

.mobile {
    position: fixed;
    inset: 0 0 0 50%;
    background: var(--primary-bg-color);
    z-index: 99;
    padding: 20px 50px;
    translate: 100%;
    transition: translate 0.5s;

    @include abstracts.screen(sm) {
        inset: 0 0 0 20%;
    }

    &.show {
        translate: 0;
        box-shadow: 0px 40px 90px 20px var(--Text-Color-Dark);
    }

    &.hide ~ &__overlay {
        visibility: hidden;
        opacity: 0;
    }

    &.show ~ &__overlay {
        visibility: visible;
        opacity: 1;
    }

    &__overlay {
        visibility: hidden;
        opacity: 0;

        @include abstracts.screen(lg) {
            visibility: visible;
            opacity: 1;
            position: fixed;
            inset: 0;
            z-index: 88;
            background: rgba($color: #000000, $alpha: 0.4);
        }
    }
}
