<div>
    <div class="footer-slide">
        <div class="footer-slide__wrap">
            <span class="footer-slide__text">kraj</span>
            <span class="footer-slide__text">konec</span>
            <span class="footer-slide__text">kraj</span>
            <span class="footer-slide__text">schluss</span>
            <span class="footer-slide__text">End</span>
            <span class="footer-slide__text">schluss</span>
            <span class="footer-slide__text">vorbei</span>
            <span class="footer-slide__text">終わり</span>
            <span class="footer-slide__text">Fin</span>
            <span class="footer-slide__text">aus</span>
            <span class="footer-slide__text">aus</span>
            <span class="footer-slide__text">vorbei</span>
            <span class="footer-slide__text">End</span>
            <span class="footer-slide__text">结束</span>
            <span class="footer-slide__text">aus</span>
            <span class="footer-slide__text">结束</span>
            <span class="footer-slide__text">Fin</span>
            <span class="footer-slide__text">vorbei</span>
            <span class="footer-slide__text">konec</span>
            <span class="footer-slide__text">kraj</span>
            <span class="footer-slide__text">終わり</span>
            <span class="footer-slide__text">vorbei</span>
        </div>
    </div>

    <div class="container">
        <div class="footer-container">
            <!-- Footer item 1 -->
            <article class="footer-container__wrap">
                <p class="footer-container__text">Appointment request</p>
                <div>
                    <svg
                        class="icon"
                        xmlns="http://www.w3.org/2000/svg"
                        width="25"
                        height="26"
                        viewBox="0 0 25 26"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M13.3837 3.8457H21.9637V12.4245H20.7137V5.97945L4.10375 22.5895L3.21875 21.7057L19.8312 5.09695H13.3837V3.84695V3.8457Z"
                        />
                    </svg>
                </div>
            </article>

            <!-- Footer item 2 -->
            <article class="footer-container__wrap">
                <p class="footer-container__text">Instagram</p>
                <div>
                    <svg
                        class="icon"
                        xmlns="http://www.w3.org/2000/svg"
                        width="25"
                        height="25"
                        viewBox="0 0 25 25"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M18 2.49951H7C4.5 2.49951 2.5 4.49951 2.5 6.99951V17.8745C2.5 20.3745 4.5 22.3745 7 22.3745H17.875C20.375 22.3745 22.375 20.3745 22.375 17.8745V6.99951C22.5 4.49951 20.5 2.49951 18 2.49951ZM6.875 1.24951C3.75 1.24951 1.25 3.74951 1.25 6.87451V18.1245C1.25 21.2495 3.75 23.7495 6.875 23.7495H18.125C21.25 23.7495 23.75 21.2495 23.75 18.1245V6.87451C23.75 3.74951 21.25 1.24951 18.125 1.24951H6.875Z"
                        />
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M6.875 12.4995C6.875 9.37451 9.375 6.87451 12.5 6.87451C15.625 6.87451 18.125 9.37451 18.125 12.4995C18.125 15.6245 15.625 18.1245 12.5 18.1245C9.375 18.1245 6.875 15.6245 6.875 12.4995ZM12.5 8.12451C10.125 8.12451 8.125 10.1245 8.125 12.4995C8.125 14.8745 10.125 16.8745 12.5 16.8745C14.875 16.8745 16.875 14.8745 16.875 12.4995C16.875 10.1245 14.875 8.12451 12.5 8.12451ZM20 6.24951C20 7.12451 19.25 7.74951 18.5 7.74951C17.75 7.74951 16.875 7.12451 16.875 6.24951C16.875 5.37451 17.625 4.74951 18.375 4.74951C19.125 4.74951 20 5.37451 20 6.24951Z"
                        />
                    </svg>
                </div>
            </article>

            <!-- Footer item 3 -->
            <article class="footer-container__wrap">
                <p class="footer-container__text">Facebook</p>
                <div>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="25"
                        height="26"
                        viewBox="0 0 25 26"
                    >
                        <g clip-path="url(#clip0_13_413)">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M11.52 3.1617C10.8387 3.84295 10.4838 4.8942 10.4838 6.40045V9.3542H8.125V11.8654H10.4838V23.3042H13.8225V11.8642H17.22L17.4325 9.3517H13.8225V6.91295C13.8225 6.65545 13.8288 6.3817 13.8688 6.1267C13.9088 5.86795 13.9913 5.58795 14.1725 5.33545C14.56 4.79795 15.2175 4.63045 16.01 4.63045C16.425 4.63045 16.9975 4.68045 17.5312 4.7567L17.9113 2.3692C16.95 2.1792 16.15 2.0542 15.1175 2.0542C13.325 2.0542 12.2012 2.4792 11.52 3.1617ZM10.6362 2.27795C11.6425 1.27045 13.1487 0.804199 15.1175 0.804199C16.4925 0.804199 17.505 1.00795 18.7487 1.26295L19.3337 1.38295L18.565 6.21795L17.9275 6.0892C17.2954 5.96549 16.6539 5.89525 16.01 5.8792C15.335 5.8792 15.2112 6.03045 15.185 6.0667C15.139 6.14357 15.1112 6.22994 15.1038 6.3192C15.0787 6.51565 15.0682 6.7137 15.0725 6.9117V8.10295H18.7937L18.3687 13.1142H15.0725V24.5542H9.23375V13.1142H6.875V8.1017H9.23375V6.4017C9.23375 4.72045 9.62875 3.28545 10.6362 2.27795Z"
                                fill="#E7F3E2"
                            />
                        </g>
                        <defs>
                            <clipPath id="clip0_13_413">
                                <rect
                                    width="25"
                                    height="25"
                                    fill="white"
                                    transform="translate(0 0.179199)"
                                />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
            </article>

            <!-- Footer item 4 -->
            <article class="footer-container__wrap">
                <p class="footer-container__text">Newsletter</p>
                <div>
                    <svg
                        class="icon"
                        xmlns="http://www.w3.org/2000/svg"
                        width="25"
                        height="26"
                        viewBox="0 0 25 26"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M12.5 15.4504L9.01 13.6179L2.46 19.1191H22.54L15.99 13.6179L12.5 15.4504ZM17.1875 12.9891L23.75 18.5029V9.54414L17.1875 12.9891ZM25 20.3691H0V5.36914H25V20.3691ZM23.75 6.61914V8.13164L12.5 14.0379L1.25 8.13164V6.61914H23.75ZM1.25 9.54414V18.5029L7.8125 12.9904L1.25 9.54414Z"
                        />
                    </svg>
                </div>
            </article>
        </div>
        <img
            src="./assets/img/slogan.png"
            alt=""
            class="footer-container__img"
        />
        <div class="footer-wrap">
            <a href="#!" class="footer-wrap__link">imprint</a>
            <a href="#!" class="footer-wrap__link">Admin Page</a>
            <a href="#!" class="footer-wrap__link">Liability & Data</a>
        </div>
    </div>
</div>
