@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "PP Object Sans", sans-serif;
  color: var(--text-white-color);
  background: var(--primary-bg-color);
  background-image: url(../../assets/img/bg.png);
  background-repeat: repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
  padding: 0;
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
}

input,
textarea {
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
  transition: background-color 1s 99999s;
  -webkit-text-fill-color: var(--text-color);
  caret-color: var(--text-color);
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 600;
}

.icon path {
  fill: var(--icon-color);
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1170px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1439.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1439.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes shake {
  0%, 100% {
    translate: 0;
  }
  25%, 75% {
    translate: 5px;
  }
  50% {
    translate: -5px;
  }
}
@keyframes delay1 {
  from {
    display: none;
  }
  to {
    display: block;
  }
}
html {
  --primary-bg-color: #242424;
  --second-bg-color: #b4e3a0;
  --thirst-bg-color: #494848;
  --text-white-color: #e7f3e2;
  --text-dark-color: #242424;
  --text-green: #1da09c;
  --border-color: #e7f3e2;
  --yellow--light-color: #ffd43b;
  --yellow-dark-color: #c6a905;
  --icon-color: #e7f3e2;
  --hover-color: rgba(231, 243, 226, 0.06);
}

.navbar__list, .navbar, .logo, .header-container {
  display: flex;
  align-items: center;
}

.header {
  position: sticky;
  top: 0;
  z-index: 4;
  padding: 12px 20px;
  background: var(--primary-bg-color);
  background-image: url(../../assets/img/bg.png);
  background-size: cover;
  opacity: 0.9;
}

.header-container {
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  flex-direction: column;
  gap: 5px;
}
.logo__img {
  width: 84px;
}
.logo__text {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--text-white-color);
}
@media (max-width: 575.98px) {
  .logo__text {
    font-size: 1.7rem;
  }
}

.navbar {
  gap: 10px;
}
.navbar__item {
  padding: 13px 11px;
}
.navbar__item:hover {
  border: 1px solid var(--border-color);
}
.navbar__item:hover:first-child {
  border-color: #ffd700;
}
.navbar__item:hover:first-child .navbar__link {
  color: #ffd700;
}
.navbar__link {
  color: var(--text-white-color);
  line-height: 1.4;
}

.navbar-mobile__wrap {
  flex-direction: column;
  align-items: flex-start;
}
.navbar-mobile__text {
  color: var(--Text-Color-White);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.48;
}

.mobile {
  position: fixed;
  inset: 0 0 0 50%;
  background: var(--primary-bg-color);
  z-index: 99;
  padding: 20px 50px;
  translate: 100%;
  transition: translate 0.5s;
}
@media (max-width: 575.98px) {
  .mobile {
    inset: 0 0 0 20%;
  }
}
.mobile.show {
  translate: 0;
  box-shadow: 0px 40px 90px 20px var(--Text-Color-Dark);
}
.mobile.hide ~ .mobile__overlay {
  visibility: hidden;
  opacity: 0;
}
.mobile.show ~ .mobile__overlay {
  visibility: visible;
  opacity: 1;
}
.mobile__overlay {
  visibility: hidden;
  opacity: 0;
}
@media (max-width: 991.98px) {
  .mobile__overlay {
    visibility: visible;
    opacity: 1;
    position: fixed;
    inset: 0;
    z-index: 88;
    background: rgba(0, 0, 0, 0.4);
  }
}

.footer-container__wrap {
  display: flex;
  align-items: center;
}

.footer {
  background-image: url(../../assets/img/bg.png);
  background-size: cover;
  padding-bottom: 55px;
}

.footer-slide:hover .footer-slide__wrap {
  animation-play-state: paused;
}

.footer-slide {
  position: relative;
  margin-bottom: 47px;
  background: var(--second-bg-color);
  overflow: hidden;
  white-space: nowrap;
}
.footer-slide::before, .footer-slide::after {
  content: "";
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  z-index: 2;
}
.footer-slide::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--second-bg-color));
}
.footer-slide::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--second-bg-color));
}
.footer-slide__wrap {
  padding: 8px 0;
  display: inline-block;
  animation: 25s slide infinite linear;
}
.footer-slide__text {
  margin: 0 14px;
  color: var(--text-dark-color);
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
}

.footer-container__wrap {
  justify-content: space-between;
  padding: 10px 24px 10px 58px;
  border-top: 1px solid var(--border-color);
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .footer-container__wrap {
    padding-left: 12px;
    padding-right: 8px;
  }
}
.footer-container__wrap:last-child {
  border-bottom: 1px solid var(--border-color);
}
.footer-container__wrap:hover {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
.footer-container__text {
  font-size: 2.8rem;
  line-height: 1.4;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .footer-container__text {
    font-size: 1.8rem;
  }
}
.footer-container__img {
  width: 100%;
  position: relative;
  left: 50%;
  translate: -50%;
  margin-top: 78px;
}

.footer-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 48px;
}
.footer-wrap__link {
  padding: 12px;
  text-align: center;
  border: 1px solid var(--border-color);
  font-size: 1.4rem;
  transition: background-color 150ms cubic-bezier(0.22, 1, 0.36, 1);
}
.footer-wrap__link:hover {
  background: var(--hover-color);
}

.prod-pagination__item, .prod-pagination, .prod-item__btn, .prod-list {
  display: flex;
  align-items: center;
}

.prod-list__title, .prod-content__box {
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.prod {
  padding: 48px 0 150px;
}

.prod-content__title {
  width: 25%;
  font-size: 6.4rem !important;
}
.prod-content__wrap {
  display: flex;
  gap: 20px;
  margin-top: 48px;
}
.prod-content__box {
  width: 50%;
  flex-shrink: 0;
}
.prod-content__desc {
  margin-top: 0 !important;
}

.prod-container {
  margin-top: 96px;
}

.prod-list {
  gap: 20px;
}
.prod-list__box {
  width: 50%;
  flex-shrink: 0;
}
.prod-list__title {
  margin-bottom: 14px;
}
.prod-list__item {
  width: 80%;
  padding: 13px 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.25s ease;
}
.prod-list__item:last-child {
  border-top: none;
}
.prod-list__item:last-child:hover {
  border-top: 1px solid var(--border-color);
}
.prod-list__item:hover {
  width: 100%;
}

.prod-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px 115px;
  margin-top: 95px;
}

.prod-item {
  position: relative;
  gap: 32px;
  cursor: pointer;
}
.prod-item__thumb {
  width: 431.7px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: var(--hover-color) 0px 2px 1px, var(--hover-color) 0px 4px 2px, var(--hover-color) 0px 8px 4px, var(--hover-color) 0px 16px 8px, var(--hover-color) 0px 32px 16px;
}
.prod-item__content {
  width: 28%;
  margin: 36px 0 0 64px;
}
.prod-item__title {
  font-size: 3.2rem !important;
}
.prod-item__desc {
  margin-top: 11px;
  font-size: 1.6rem;
  line-height: 1.4;
}
.prod-item__btn {
  position: absolute;
  top: 50%;
  left: 221px;
  translate: 0 -50%;
  border-radius: 10px;
  width: 536px;
  height: 47px;
  justify-content: space-between;
  padding-left: 23px;
  border: 1px solid var(--border-color);
  cursor: pointer;
  rotate: -90deg;
  transition: background-color 150ms cubic-bezier(0.22, 1, 0.36, 1);
}
.prod-item__link {
  flex-shrink: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.prod-item__icon {
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  rotate: 90deg;
}

.prod-item:hover > .prod-item__btn {
  background: var(--hover-color);
}

.prod-pagination {
  justify-content: center;
  margin-top: 38px;
  padding: 10px 40px;
  border-radius: 6px;
}
.prod-pagination__list {
  display: flex;
  margin: 20px 30px;
}
.prod-pagination__item {
  width: 35px;
  height: 35px;
  justify-content: center;
  margin: 0 10px;
  background: var(--border-color);
  border-radius: 10px;
}
.prod-pagination__item:hover:not(.active) {
  background: #f9859a;
}
.prod-pagination__item.active {
  background-image: linear-gradient(#ff4568, #ff4568);
  background-repeat: no-repeat;
}
.prod-pagination__item.active .prod-pagination__link {
  color: var(--text-white-color);
}
.prod-pagination__link {
  color: var(--text-dark-color);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 45px;
}
.prod-pagination__btn1, .prod-pagination__btn2 {
  color: var(--text-white-color);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 45px;
  cursor: pointer;
}

.prem-container__icon, .prem-container__boxer, .prem-container__btn, .prem-containers__wrap--bot, .prem-banner__btn, .prem-banner__wrap, .prem-banner {
  display: flex;
  align-items: center;
}

.prem {
  padding-top: 42px;
}

.prem-banner {
  position: relative;
  justify-content: space-between;
  padding: 22px 26px;
  border-radius: 12px;
  border: 2px solid #fff;
  background: var(--yellow-dark-color);
}
.prem-banner__wrap {
  gap: 20px;
}
.prem-banner__btn {
  gap: 5px;
  padding: 19px 22px;
  background: #fff;
  border: 1px solid var(--primary-bg-color);
  background: #fff;
  border-radius: 7px;
  box-shadow: 0px 5.25px 0px 0px var(--primary-bg-color);
  cursor: pointer;
}
.prem-banner__btn-text {
  color: var(--yellow-dark-color);
}
.prem-banner__delete {
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: pointer;
}

.prem-content {
  width: 42%;
  padding: 64px 0 68px;
}
@media (max-width: 991.98px) {
  .prem-content {
    width: 100%;
  }
}

.prem-containers {
  padding: 96px 0 80px;
  background: var(--primary-bg-color);
}
.prem-containers__wrap {
  display: flex;
  gap: 28px;
}
@media (max-width: 1199.98px) {
  .prem-containers__wrap {
    flex-direction: column;
  }
}
.prem-containers__wrap--bot {
  position: relative;
  margin-top: 50px;
}
@media (max-width: 991.98px) {
  .prem-containers__wrap--bot {
    flex-direction: column;
  }
}

.prem-container {
  width: 192px;
}
@media (max-width: 1199.98px) {
  .prem-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 90px;
    margin-bottom: 12px;
  }
}
.prem-container--left {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: var(--border-color);
  border-radius: 12px;
}
@media (max-width: 991.98px) {
  .prem-container--left {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.prem-container__nameplate {
  position: absolute;
  top: -31px;
  left: 66%;
  translate: -64%;
  padding: 8px 44px;
  border-radius: 10px 10px 0px 0px;
  background: var(--yellow--light-color);
  color: var(--text-dark-color);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (max-width: 1199.98px) {
  .prem-container__nameplate {
    padding: 8px 49px;
  }
}
.prem-container__box {
  width: 192px;
  height: 125px;
  flex-shrink: 0;
}
@media (max-width: 1199.98px) {
  .prem-container__box {
    width: 100%;
  }
}
@media (max-width: 1199.98px) {
  .prem-container__box--bot {
    width: 192px;
  }
}
@media (max-width: 991.98px) {
  .prem-container__box--bot {
    width: 100%;
    text-align: center;
  }
}
.prem-container__box + .prem-container__box {
  margin-top: 56px;
}
@media (max-width: 1199.98px) {
  .prem-container__box + .prem-container__box {
    margin-top: 0;
  }
}
.prem-container__title-small {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.18;
}
.prem-container__text {
  margin-top: 17px;
  font-size: 1.4rem;
  line-height: 1.5;
}
.prem-container__link {
  color: var(--text-green);
  font-size: 14px;
  line-height: 1.5;
  text-decoration-line: underline;
}
.prem-container__wrap {
  color: var(--text-dark-color);
  padding: 24px 32px;
}
@media (max-width: 991.98px) {
  .prem-container__wrap {
    border-bottom: 14px solid var(--primary-bg-color);
  }
}
.prem-container__wrap:nth-of-type(3) {
  border-left: 4px solid var(--yellow--light-color);
  border-right: 4px solid var(--yellow--light-color);
  border-bottom: 4px solid var(--yellow--light-color);
}
@media (max-width: 991.98px) {
  .prem-container__wrap:nth-of-type(3) {
    border-left: none;
    border-right: none;
    border-width: 14px;
    border-color: var(--primary-bg-color);
  }
}
@media (max-width: 991.98px) {
  .prem-container__wrap:nth-of-type(4) {
    border-bottom: none;
  }
}
.prem-container__title {
  margin-top: 20px;
  line-height: 1.16;
  color: var(--text-dark-color) !important;
}
.prem-container__desc {
  height: 120px;
  margin-top: 12px;
  width: 150px;
}
.prem-container__btn {
  justify-content: center;
  margin-top: 68px;
  padding: 17px 29px;
  border-radius: 8px;
  border: 2px solid var(--primary-bg-color);
  background: var(--border-color);
  box-shadow: 0px 6px 0px 0px var(--primary-bg-color);
  font-weight: 700;
  transition: 0.25s ease;
}
.prem-container__btn:hover {
  background: #c3c6d1;
}
.prem-container__btn--color {
  transition: 0.25s ease;
  background: var(--yellow--light-color);
}
.prem-container__btn--color:hover {
  background: var(--yellow-dark-color);
}
.prem-container__price {
  margin-top: 23px;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.12;
}
.prem-container__price span {
  font-size: 3rem;
}
.prem-container__boxer {
  gap: 8px;
  margin-top: 4px;
}
@media (max-width: 991.98px) {
  .prem-container__wrap-icon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}
.prem-container__icon {
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  position: absolute;
  top: 23px;
}
@media (max-width: 991.98px) {
  .prem-container__icon {
    position: initial;
    top: initial;
    left: initial;
  }
}
.prem-container__icon:nth-child(1) {
  left: 27%;
}
@media (max-width: 1199.98px) {
  .prem-container__icon:nth-child(1) {
    left: 23%;
  }
}
.prem-container__icon:nth-child(2) {
  left: 48%;
}
@media (max-width: 1199.98px) {
  .prem-container__icon:nth-child(2) {
    left: 41%;
  }
}
.prem-container__icon:nth-child(3) {
  left: 67%;
}
@media (max-width: 1199.98px) {
  .prem-container__icon:nth-child(3) {
    left: 61%;
  }
}
.prem-container__icon:nth-child(4) {
  left: 88%;
}
@media (max-width: 1199.98px) {
  .prem-container__icon:nth-child(4) {
    left: 86%;
  }
}
.prem-container__text-small {
  color: #616d8a;
  line-height: 1.5;
}

.chat-box__box, .chat-box__icons, .chat-box__wrap, .chat-info, .chat__container {
  display: flex;
  align-items: center;
}

.chat {
  height: 80vh;
}
.chat__container {
  height: 86vh;
  flex-direction: column;
  border-right: 1px solid var(--border-color);
}

.chat-info {
  flex-direction: column;
}
.chat-info__avatar {
  width: 68px;
  height: 68px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--text-green);
}
.chat-info__name {
  margin-top: 12px;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.21;
}
.chat-info__mail {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
}

.chat-block {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 36px;
  overflow-y: auto;
}
.chat-block__item {
  width: 80%;
  padding: 15px 10px;
  border: 1px solid var(--text-green);
  border-radius: 20px;
}
.chat-block__item + .chat-block__item {
  margin-top: 12px;
}
.chat-block__title {
  margin-top: 12px;
  font-size: 1.4rem;
  font-style: italic;
}
.chat-block__date {
  font-weight: 500;
  line-height: 1.21;
}

.chat-box {
  width: 100%;
  height: 86vh;
  padding: 35px;
  position: relative;
  background: var(--thirst-bg-color);
  overflow: auto;
}
.chat-box__wrap {
  position: absolute;
  top: 30%;
  left: 50%;
  translate: -50% -30%;
}
.chat-box__logo {
  width: 60%;
  object-fit: cover;
  opacity: 0.5;
}
@media (max-width: 575.98px) {
  .chat-box__logo {
    width: 100%;
  }
}
.chat-box__text {
  line-height: 1.21;
}
.chat-box__form {
  position: absolute;
  bottom: 20px;
  left: 50%;
  translate: -50%;
}
.chat-box__input {
  width: 680px;
  height: 42px;
  padding: 5px 110px 5px 15px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  font-size: 1.8rem;
  color: var(--text-white-color);
}
.chat-box__input::placeholder {
  font-size: 1.8rem;
  color: var(--text-white-color);
}
@media (max-width: 991.98px) {
  .chat-box__input {
    width: 497px;
  }
}
@media (max-width: 575.98px) {
  .chat-box__input {
    width: 306px;
  }
}
.chat-box__icons {
  position: absolute;
  bottom: 12px;
  right: 10px;
  gap: 12px;
  padding-right: 8px;
}
.chat-box__icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.chat-box__out {
  display: none;
  position: fixed;
  top: 120px;
  left: 450px;
  margin: 15px;
}
.chat-box__icon-out {
  width: 26px;
  height: 26px;
  rotate: 180deg;
}
.chat-box__container.hide {
  display: none;
}
.chat-box__container.show {
  display: block;
}
.chat-box__container {
  margin-left: 85px;
}
.chat-box__text + .chat-box__text {
  margin-top: 18px;
}
.chat-box__title {
  font-size: 2.1rem;
  color: #fff;
  text-align: center;
}
.chat-box__time {
  margin-top: 28px;
  color: #fff;
}
.chat-box__box {
  justify-content: space-between;
}
.chat-box__location {
  margin-top: 16px;
  color: #fff;
}
.chat-box__btn {
  padding: 5px 15px;
  border-radius: 5px;
  color: rgba(65, 87, 255, 0.6509803922);
  background: #fff;
}

.chat-message {
  overflow: auto;
}
.chat-message__text {
  max-width: 50%;
  position: relative;
  clear: both;
  float: right;
  margin: 8px 0;
  padding: 6px 10px 7px;
  background: var(--text-green);
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  border-radius: 10px 10px 0 10px;
  line-height: 1.21;
  z-index: 1;
}
.chat-message__text::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  border-top: 6px solid rgba(0, 0, 0, 0.3);
}
.chat-message__text--AI {
  float: left;
  border-radius: 10px 10px 10px 0;
}
.chat-message__text--AI:nth-child(2) {
  animation-name: delay1;
  animation-iteration-count: unset;
  animation-delay: 3s;
}

.profile {
  padding: 50px 0;
}
.profile__sidebar {
  padding-bottom: 30px;
  border-radius: 20px;
  background: var(--thirst-bg-color);
  box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
  overflow: hidden;
}
.profile-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 20px 0;
  background: linear-gradient(180deg, rgba(26, 22, 46, 0) 0%, #1a162e 100%), url(../../assets/img/profile/bg.png) no-repeat center;
  box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
}
.profile-user__avatar {
  width: 121px;
  height: 121px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
  background: #ccc content-box;
}
.profile-user__name {
  margin-top: 15px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.44;
}
.profile-user__desc {
  margin-top: 2px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46;
}
.profile-menu {
  margin-top: 30px;
  padding: 0 30px;
}
.profile-menu__title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.46;
}
.profile-menu__list {
  margin-top: 11px;
}
.profile-menu__link {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 32px;
  padding: 0 4px;
  border-radius: 5px;
  font-size: 1.5rem;
  line-height: 1.46;
  transition: background 0.2s;
}
.profile-menu__link:hover {
  background: #393939;
}
.profile-menu__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 100%;
}
.profile__desc {
  margin-bottom: 16px;
}

.profile-info {
  padding: 30px;
  border-radius: 20px;
  background: var(--thirst-bg-color);
}
.profile-info__wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background: #393939;
  overflow: hidden;
}
.profile-info__icon {
  padding: 18px;
  border-radius: 8px;
  background: #514f4f;
}
.profile-info__desc {
  margin-top: 5px;
}

.profile-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-form__label {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--Shapes-Color-Green2);
}
.profile-form__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  margin-top: 30px;
}
.profile-form__btn-save {
  padding: 5px 10px;
  background: var(--yellow-dark-color);
  border-radius: 5px;
}

.section-heading {
  color: var(--text-white-color);
  font-family: "Work Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.05;
  text-transform: uppercase;
}

.section-desc {
  margin-top: 24px;
  color: var(--text-white-color);
  font-size: 2rem;
  line-height: 1.4;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px;
  border: 1px solid var(--border-color);
}
.btn:hover {
  background: var(--hover-color);
  rotate: 45deg;
}

.form:has(:invalid) .form__submit-btn {
  opacity: 0.5;
  pointer-events: none;
}
.form__row {
  display: flex;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .form__row {
    gap: 20px;
  }
}
@media (max-width: 575.98px) {
  .form__row {
    flex-direction: column;
    gap: 0;
  }
}
.form__row > * {
  flex: 1;
}
.form__group {
  margin-top: 30px;
}
@media (max-width: 767.98px) {
  .form__group {
    margin-top: 20px;
  }
}
.form__group--inline {
  display: flex;
  align-items: center;
}
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) .form__text-input {
  border-color: #ed4337;
  background: rgba(237, 67, 55, 0.1);
}
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) .form__error,
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) .form__input-icon-error {
  display: block;
}
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) .form__input-icon {
  display: none;
}
.form__text-area, .form__text-input {
  display: flex;
  align-items: center;
  padding: 0 12px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}
.form__text-area:focus-within, .form__text-input:focus-within {
  border-color: var(--yellow-dark-color);
}
.form__text-area {
  height: 100px;
  padding: 12px;
}
.form__text-area-input {
  resize: none;
}
.form__text-input {
  position: relative;
  height: 46px;
}
.form__text-input--small {
  height: 42px;
}
@media (max-width: 767.98px) {
  .form__text-input {
    height: 48px;
  }
}
.form__input, .form__text-area-input {
  flex: 1;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.44;
}
.form__input::placeholder, .form__text-area-input::placeholder {
  color: var(--Text-Color-Dark);
}
.form__input-icon, .form__text-area-input-icon {
  margin-left: 12px;
}
@media (max-width: 767.98px) {
  .form__input, .form__text-area-input {
    font-size: 1.6rem;
  }
}
.form__select-dialog {
  position: absolute;
  bottom: 44px;
  left: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  translate: 0 8px;
  transition: opacity, visibility, translate;
  transition-duration: 0.2s;
  min-width: 230px;
  max-height: 310px;
  padding-bottom: 10px;
  border: 1px solid #d2d1d6;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--Shapes-Color-Green2);
  background: var(--Shapes-Color-Green2);
}
@media (max-width: 575.98px) {
  .form__select-dialog {
    position: fixed;
    max-height: initial;
    max-width: initial;
    inset: 0;
    border-radius: 0;
  }
}
.form__select-dialog.show {
  opacity: 1;
  visibility: visible;
  translate: 0;
}
.form__search {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 38px;
  padding: 0 20px;
  border-bottom: 1px solid #d2d1d6;
}
@media (max-width: 991.98px) {
  .form__search {
    height: 48px;
  }
}
@media (max-width: 575.98px) {
  .form__search {
    padding: 0 14px;
    margin: 10px 30px 0;
    border: 1px solid #d2d1d6;
    border-radius: 10px;
  }
}
.form__search-input {
  flex: 1;
  height: 100%;
  font-size: 1.6rem;
}
.form__search-icon {
  width: 16px;
  margin-left: 10px;
}
@media (max-width: 991.98px) {
  .form__search-icon {
    width: 20px;
  }
}
.form__option-list {
  flex: 1;
  margin-top: 10px;
  overflow-y: auto;
  overscroll-behavior: contain;
}
@supports (-webkit-touch-callout: none) {
  .form__option-list {
    padding-bottom: 300px;
  }
}
.form__option {
  padding: 8px 20px;
  font-size: 1.4rem;
}
@media (max-width: 991.98px) {
  .form__option {
    padding: 18px 30px;
    font-size: 1.6rem;
  }
}
.form__option--current {
  font-weight: 500;
  background: rgba(var(--Shapes-Color-Green2), 0.7);
}
.form__option:not(.form__option--current):hover {
  background: var(--Shapes-Color-Green2);
  cursor: pointer;
}
.form__dialog-heading {
  padding: 20px;
  font-style: 1.8rem;
  font-weight: 600;
  text-align: center;
}
.form__close-dialog {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 18px;
  opacity: 0.8;
  font-size: 3rem;
}
.form__error {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 10px;
  color: #ed4337;
  display: none;
}
.form__input-icon-error {
  width: 20px;
  display: none;
  margin-left: 12px;
  animation: shake 0.5s;
}
.form__pull-right {
  margin-left: auto;
}
.form__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
}
.form__checkbox::before, .form__checkbox::after {
  content: "";
  position: absolute;
}
.form__checkbox::before {
  width: 19px;
  height: 19px;
  border-radius: 5px;
  border: 1px solid #9e9da8;
}
.form__checkbox::after {
  top: 5px;
  left: 3px;
  width: 13px;
  height: 6px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  rotate: -45deg;
  display: none;
}
.form__checkbox-label {
  margin-left: 29px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46;
  color: #9e9da8;
}
@media (max-width: 767.98px) {
  .form__checkbox-label {
    font-size: 1.4rem;
  }
}
.form__label {
  display: block;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.45;
}
.form__label--medium {
  margin-bottom: 20px;
  font-size: 1.8rem;
  line-height: 1.44;
}
.form__label--small {
  margin-bottom: 10px;
  font-size: 1.4rem;
  line-height: 1.42;
}
@media (max-width: 1199.98px) {
  .form__label--small {
    width: 100%;
  }
}
.form__select-wrap {
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #d2d1d6;
}
.form__select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: var(--width, 108px);
  height: calc(100% - 10px);
  padding: 0 14px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.42;
  cursor: pointer;
}
@media (max-width: 1199.98px) {
  .form__select {
    flex: 1;
  }
}
.form__select-separate {
  width: 1px;
  height: 80%;
  background: #9e9da8;
}
.form__select + .form__select {
  border-left: 1px solid #d2d1d6;
}
.form__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}
@media (max-width: 575.98px) {
  .form__tags {
    gap: 10px;
  }
}
.form__tag {
  padding: 6px 12px;
  border-radius: 6px;
  color: #9e9da8;
  background: var(--form-tag-bg-color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.42;
  transition: color 0.25s;
}
.form__tag:hover {
  color: var(--text-color);
}
.form__checkbox:has(:checked)::before {
  border-color: var(--yellow-dark-color);
  background: var(--yellow-dark-color);
}
.form__checkbox:has(:checked)::after {
  display: block;
}

.home__wrap-img, .home__container {
  display: flex;
  align-items: center;
}

.home {
  padding: 37px 0 0;
  background-image: url(../../assets/img/bg.png);
  background-size: cover;
}
.home__container {
  justify-content: center;
}
.home__video {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  box-shadow: var(--border-color) 0px 50px 50px -20px, var(--border-color) 0px 30px 60px -30px, var(--border-color) 0px -2px 6px 0px inset;
}
@media (max-width: 1199.98px) {
  .home__video {
    height: 368px;
  }
}
@media (max-width: 767.98px) {
  .home__video {
    height: 285px;
  }
}
@media (max-width: 575.98px) {
  .home__video {
    height: 180px;
  }
}
.home__wrap-img {
  position: absolute;
  left: 50%;
  bottom: 0;
  translate: -50%;
  z-index: 2;
  flex-direction: column;
  gap: 10px;
  rotate: -5deg;
}
@media (max-width: 1199.98px) {
  .home__wrap-img {
    bottom: 20px;
  }
}
.home__logo {
  width: 184px;
}
@media (max-width: 1199.98px) {
  .home__logo {
    width: 144px;
  }
}
.home__title {
  text-align: center;
  width: 140px;
  -webkit-text-stroke: 1px var(--text-dark-color);
}
@media (max-width: 1199.98px) {
  .home__title {
    font-size: 2.6rem;
  }
}
.home__wrap {
  width: 100%;
  position: relative;
  left: 50%;
  top: -375px;
  translate: -50%;
}
@media (max-width: 1199.98px) {
  .home__wrap {
    top: -290px;
  }
}
@media (max-width: 767.98px) {
  .home__wrap {
    top: -225px;
  }
}
.home__slide {
  overflow: hidden;
  white-space: nowrap;
}
.home__box {
  display: inline-block;
  animation: 35s slide infinite linear;
}
.home__text {
  margin: 0 16px;
  -webkit-text-stroke: 1px var(--text-white-color);
  color: transparent;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.1;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .home__text {
    font-size: 4.8rem;
  }
}
@media (max-width: 575.98px) {
  .home__text {
    font-size: 3.4rem;
  }
}

.intro-container__content {
  display: flex;
  align-items: center;
}

.intro {
  padding: 58px 0 128px;
}
@media (max-width: 991.98px) {
  .intro {
    padding-bottom: 68px;
  }
}

.intro-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.intro-content__wrap {
  width: 45%;
}
@media (max-width: 1199.98px) {
  .intro-content__wrap {
    width: 55%;
  }
}
@media (max-width: 991.98px) {
  .intro-content__wrap {
    width: 75%;
  }
}
@media (max-width: 767.98px) {
  .intro-content__wrap {
    width: 100%;
  }
}
.intro-content__color {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
}
.intro-content__btn {
  transition: 0.35s ease;
}

.intro-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 48px;
}
@media (max-width: 991.98px) {
  .intro-container {
    grid-template-columns: 1fr;
  }
}
.intro-container__wrap {
  padding: 13px;
  border: 1px solid var(--border-color);
  transition: 0.25s ease-in-out;
}
.intro-container__wrap:hover {
  cursor: pointer;
  background: var(--hover-color);
}
.intro-container__wrap:not(:hover) {
  filter: blur(1.1px);
}
.intro-container__thumb {
  width: 100%;
  height: 369px;
  object-fit: cover;
}
.intro-container__content {
  justify-content: space-between;
  padding: 18px 24px 12px;
}
.intro-container__position {
  margin-top: 0;
}

.feedback-container__stars, .feedback-container__wrap, .feedback-container__carousel, .feedback-container, .feedback-content__box {
  display: flex;
  align-items: center;
}

.feedback-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.feedback-content__title {
  width: 25%;
}
.feedback-content__box {
  gap: 32px;
}

.feedback-container {
  margin: 48px 0 0 12.5%;
  scroll-behavior: smooth;
}
@media (max-width: 991.98px) {
  .feedback-container {
    margin: 48px 0 0 0;
  }
}
.feedback-container__carousel {
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  scroll-behavior: smooth;
}
.feedback-container__box {
  width: 362px;
  height: 298px;
  flex-shrink: 0;
  padding: 24px 18px;
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: background-color 150ms cubic-bezier(0.22, 1, 0.36, 1);
}
.feedback-container__box:hover {
  background: var(--hover-color);
}
.feedback-container__wrap {
  justify-content: space-between;
}
.feedback-container__stars {
  gap: 5px;
}
.feedback-container__avt {
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}
.feedback-container__title {
  margin-top: 23px;
  font-size: 2.4rem;
  line-height: 1.05;
  text-transform: uppercase;
}
.feedback-container__desc {
  white-space: wrap;
  margin-top: 42px;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.feedback-container__carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.feedback-container__carousel.dragging .feedback-container__box {
  pointer-events: none;
}

.dev {
  padding: 128px 0;
}
@media (max-width: 991.98px) {
  .dev {
    padding: 68px 0;
  }
}

.dev-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}
.dev-content__wrap {
  width: 72%;
}
@media (max-width: 991.98px) {
  .dev-content__wrap {
    width: 100%;
  }
}
.dev-content__title {
  color: #1da09c;
  margin-top: 22px;
  text-shadow: 2px 2px 8px rgba(69, 169, 166, 0.8666666667);
}

.dev-container {
  margin-top: 48px;
}
.dev-container__wrap {
  position: relative;
}
.dev-container__box--active, .dev-container__item--active {
  background: #1da09c;
}
.dev-container__item {
  position: relative;
}
.dev-container__code, .dev-container__bg {
  width: 100%;
  object-fit: cover;
}
.dev-container__code {
  cursor: pointer;
  transition: 0.25s ease-in;
}
.dev-container__code:hover {
  background: #294e4d;
}
.dev-container__language {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 4.2rem;
  font-weight: 600;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .dev-container__language {
    font-size: 2.5rem;
  }
}
@media (max-width: 991.98px) {
  .dev-container__language {
    font-size: 1.6rem;
  }
}
.dev-container__text {
  width: 75%;
  display: none;
  position: absolute;
  top: 10px;
  left: 68px;
  line-height: 1.7;
}
@media (max-width: 991.98px) {
  .dev-container__text {
    top: 5px;
    left: 40px;
    line-height: 1;
  }
}
@media (max-width: 767.98px) {
  .dev-container__text {
    top: 3px;
    left: 28px;
    font-size: 1.4rem;
  }
}
.dev-container__text--active {
  display: block;
}
@media (max-width: 767.98px) {
  .dev-container__text--active {
    display: -webkit-box;
    -webkit-line-clamp: 10; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.dev-container__text--link {
  color: #1da09c;
  text-decoration: underline;
}

.auth__btn--bottom, .auth__btn, .auth__content-inner, .auth__intro {
  display: flex;
  align-items: center;
}

.auth {
  position: relative;
  display: flex;
  min-height: 100vh;
}
@supports (-webkit-touch-callout: none) {
  .auth {
    min-height: -webkit-fill-available;
  }
}
.auth__intro, .auth__content {
  flex: 1;
}
.auth__intro {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  background: var(--thirst-bg-color);
  z-index: 1;
  transition: left 1s cubic-bezier(0.22, 1, 0.36, 1);
}
.auth__intro-logo, .auth__intro-next {
  position: absolute;
  left: 50%;
  translate: -50%;
}
.auth__intro-logo {
  top: 80px;
}
.auth__intro-next {
  bottom: 50px;
}
.auth__intro-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .auth__content {
    position: fixed;
    inset: 0;
    z-index: 1;
    transition: translate 0.3s;
    overflow-y: auto;
  }
  .auth__content.hide {
    translate: 100%;
  }
}
.auth__content-inner {
  flex-direction: column;
  text-align: center;
  width: min(460px, 100%);
  margin: 0 auto;
  padding: 20px 0;
}
.auth__heading {
  margin-top: 50px;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.46;
}
@media (max-width: 767.98px) {
  .auth__heading {
    margin-top: 30px;
    font-size: 2.2rem;
  }
}
.auth__desc {
  margin-top: 10px;
  padding: 0 20px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46;
  color: #9e9da8;
}
@media (max-width: 767.98px) {
  .auth__desc {
    font-size: 1.4rem;
  }
}
.auth__message {
  margin-top: 30px;
}
.auth__form {
  width: 100%;
  margin-top: 30px;
}
.auth__form-forgot {
  margin-top: 10px;
}
@media (max-width: 767.98px) {
  .auth__form {
    margin-top: 0;
  }
}
.auth__link {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46;
  color: var(--yellow-dark-color);
}
@media (max-width: 767.98px) {
  .auth__link {
    font-size: 1.4rem;
  }
}
.auth__link:hover {
  text-decoration: underline;
}
.auth__btn-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}
@media (max-width: 767.98px) {
  .auth__btn-group {
    margin-top: 40px;
    gap: 20px;
  }
}
.auth__btn {
  width: 100%;
  background: var(--yellow-dark-color);
  padding: 15px;
  justify-content: center;
  color: var(--text-dark-color);
  font-size: 1.8rem;
  font-weight: 500;
  white-space: nowrap;
}
.auth__btn--bottom {
  gap: 12px;
}
.auth__btn--bottom:hover {
  opacity: 0.8;
}
.auth__text {
  margin-top: 108px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.44;
  color: #9e9da8;
}
@media (max-width: 767.98px) {
  .auth__text {
    margin-top: 30px;
    font-size: 1.6rem;
  }
}
.auth__text-link {
  font-size: inherit;
}

.payment-cart {
  position: relative;
  z-index: 0;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  background: var(--bg-color);
  overflow: hidden;
  user-select: none;
}
.payment-cart__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  pointer-events: none;
}
.payment-cart__top {
  display: flex;
  align-items: center;
  gap: 6px;
}
.payment-cart__type {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.42;
}
.payment-cart__number {
  margin-top: 37px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.44;
}
.payment-cart__bottom {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.payment-cart__label {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.75;
}
.payment-cart__value {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
}
.payment-cart__expired {
  margin: 0 auto 0 40px;
}
.payment-cart__circle {
  --circle-width: 28px;
  position: relative;
  width: 42px;
  height: var(--circle-width);
}
.payment-cart__circle::before, .payment-cart__circle::after {
  content: "";
  position: absolute;
  top: 0;
  width: var(--circle-width);
  height: var(--circle-width);
  border-radius: 50%;
}
.payment-cart__circle::before {
  left: 0;
  z-index: 1;
  background: #f94545;
  mix-blend-mode: hard-light;
}
.payment-cart__circle::after {
  right: 0;
  background: #ffb700;
}

.new-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  min-height: 170px;
  border: 1px dashed #d2d1d6;
  border-radius: 10px;
}
.new-card__text {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.42;
}

/*# sourceMappingURL=main.css.map */
