@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.auth {
    position: relative;
    display: flex;
    min-height: 100vh;

    @supports (-webkit-touch-callout: none) {
        min-height: -webkit-fill-available;
    }

    &__intro,
    &__content {
        flex: 1;
    }

    &__intro {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        @extend %flexItemCenter;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        background: var(--thirst-bg-color);
        z-index: 1;

        transition: left 1s cubic-bezier(0.22, 1, 0.36, 1);

        &-logo,
        &-next {
            position: absolute;
            left: 50%;
            translate: -50%;
        }

        &-logo {
            top: 80px;
        }

        &-next {
            bottom: 50px;
        }

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        @include abstracts.screen(md) {
            background: var(--primary-bg-color);
            background-image: url(../../assets/img/bg.png);
            background-repeat: repeat;
            position: fixed;
            inset: 0;
            z-index: 1;
            transition: translate 0.3s;
            overflow-y: auto;

            &.hide {
                translate: 100%;
            }
        }

        &-inner {
            @extend %flexItemCenter;
            flex-direction: column;
            text-align: center;
            width: min(460px, 100%);
            margin: 0 auto;
            padding: 20px 0;
        }
    }

    &__heading {
        margin-top: 50px;
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.46;

        @include abstracts.screen(md) {
            margin-top: 30px;
            font-size: 2.2rem;
        }
    }

    &__desc {
        margin-top: 10px;
        padding: 0 20px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46;
        color: #9e9da8;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }

    &__message {
        margin-top: 30px;
    }

    &__form {
        width: 100%;
        margin-top: 30px;

        &-forgot {
            margin-top: 10px;
        }

        @include abstracts.screen(md) {
            margin-top: 0;
        }
    }

    &__link {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46;
        color: var(--yellow-dark-color);

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }

    &__link:hover {
        text-decoration: underline;
    }

    &__btn-group {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;

        @include abstracts.screen(md) {
            margin-top: 40px;
            gap: 20px;
        }
    }

    &__btn {
        width: 100%;
        background: var(--yellow-dark-color);
        padding: 15px;
        @extend %flexItemCenter;
        justify-content: center;

        color: var(--text-dark-color);
        font-size: 1.8rem;
        font-weight: 500;
        white-space: nowrap;

        &--bottom {
            @extend %flexItemCenter;
            gap: 12px;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &__text {
        margin-top: 108px;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.44;
        color: #9e9da8;

        @include abstracts.screen(md) {
            margin-top: 30px;
            font-size: 1.6rem;
        }

        &-link {
            font-size: inherit;
        }
    }
}
