.section-heading {
    color: var(--text-white-color);
    font-family: "Work Sans", sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.05;
    text-transform: uppercase;
}

.section-desc {
    margin-top: 24px;
    color: var(--text-white-color);
    font-size: 2rem;
    line-height: 1.4;
}
