html {
    --primary-bg-color: #242424;
    --second-bg-color: #b4e3a0;
    --thirst-bg-color: #494848;
    --text-white-color: #e7f3e2;
    --text-while-shadow-color: #b8bab6;
    --text-dark-color: #242424;
    --text-green: #1da09c;
    --border-color: #e7f3e2;
    --yellow--light-color: #ffd43b;
    --yellow-dark-color: #c6a905;
    --icon-color: #e7f3e2;
    --hover-color: rgba(231, 243, 226, 0.06);
}
