@use "../abstracts";

*,
::before,
::after {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "PP Object Sans", sans-serif;
    color: var(--text-white-color);
    background: var(--primary-bg-color);
    background-image: url(../../assets/img/bg.png);
    background-repeat: repeat;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
    padding: 0;
    font-family: inherit;
    color: inherit;
    outline: none;
    border: none;
}

input,
textarea {
    background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
    transition: background-color 1s 99999s;
    -webkit-text-fill-color: var(--text-color);
    caret-color: var(--text-color);
}

i,
em {
    font-style: italic;
}

b,
strong {
    font-weight: 600;
}

.icon path {
    fill: var(--icon-color);
}
